h1 {

    font-family: 'Bebas Neue', sans-serif;
    color: aliceblue;
    font-size: 120px;

}

.btn {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 25px;

}

.lead {
    background-color: green;
    font-size: 25px;
    color: white;



}


.cardEstilo{
border-radius: 15px;
background: white;
box-shadow:  17px 17px 10px #e3e1e1,
             -17px -17px 10px #f8f9f5;
}


